<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/navbar') -%>
    <h1>CUSTOM PAGE</h1>

    <form id ='customForm' action="/customize" method="POST">
        <div class="input-field">
            <input type="submit" class="submit" value="Update Color">
        </div>
    </form>
    <div onclick="updateColor('green')" style="background-color: green; width: 100px; height: 100px;" id="colorDiv"></div>
    <div onclick="updateColor('blue')" style="background-color: blue; width: 100px; height: 100px;" id="colorDiv"></div>
    
    <div id="customizedColor"  style="background-color: <%=color%>; width: 100px; height: 100px;"></div>


    <script src="/customizeapp.js"></script>
</body>
</html>