<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/navbar') -%>
    <h1>CUSTOM PAGE</h1>


    <form action="/customize" method="POST">
        <div class="input-field">
            <input class="input" type="text" name="color" id="color" placeholder="Color">
        </div>

        <div class="input-field">
            <input type="submit" class="submit" value="Submit color">
        </div>
    </form>

    <div id="customizedColor"  style="background-color: <%=color%>; width: 100px; height: 100px;"></div>

</body>
</html>