<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('partials/navbar') -%>
  <div class="container">
      
       
      <div class="row">
        <div class="info_col">
          <h1 id="siteHeader">Connect 4</h1>
          <p class="para">Pick a bot you would like to play against</p>
        </div>
        <div class="bot_col">
          <div class="card card1" onclick= "window.location.href='/connect4/play';" onmouseout="removeHighlight()">
          </div>
          <div class="card card2" onclick= "window.location.href='/connect4/play';" onmouseout="removeHighlight()">
          </div>
          <div class="card card3" onclick= "window.location.href='/connect4/play';" onmouseout="removeHighlight()">
          </div>
          <div class="card card4" onclick= "window.location.href='/connect4/play';" onmouseout="removeHighlight()">
          </div>
          <div class="card card5" onclick= "window.location.href='/connect4/play';" onmouseout="removeHighlight()">
          </div>
          <div class="card card6" onclick= "window.location.href='/connect4/play';" onmouseout="removeHighlight()">
          </div>
        </div>
      </div>
    </div>

    <script src="/homeapp.js"></script>
</body>
</html>