<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">

    <title>Register</title>
</head>
<body>

    <%- include('partials/navbar') -%>

    <div id="loginBox">
        <h1 id="loginHeader">Login</h2>
        <form action="/login" method="POST">
            <div class="input-field">
                <img class="login-icon" src="/images/User_Icon.png" alt="">
                <input class="input" type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="input-field">
                <img class="login-icon" src="/images/Password_Icon.png" alt="">
                <input class="input" type="password" name="password" id="password" placeholder="Password">
            </div>
            <div class="input-field">
                <input type="submit" class="submit" value="Login">
            </div>
        </form>
        <div class="link" onclick="location.href='/register'">Click here to Register</div>
        
    </div>
    
</body>
</html>