<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">

    <title>Document</title>
</head>
<body>
    <% let countWins = 0 %>
    <% let totalgames = 0 %>
    <% for (let p of stats) { %>
        <% if (p.winner == 1) { %>
            <% countWins++ %>
            <% totalgames++ %>
        <% } else { %>
            <% totalgames++ %>
        <% } %>
    <% } %>

    <%- include('partials/navbar') -%>
    <div class="boxGrid">
        <div class="botName">Baby Bot</div>
        <div class="stats">
            <div class="statsNumerical;">Win - Loss ratio: <%= countWins %> - <%= totalgames - countWins %> </div>
            <a href="/connect4/bot">View all games</a>
        </div>
    </div>
</body>
</html>