<div class="navbaroutline">
    <div class="navbar">
      <img src="/images/menulogo.png" class = "menulogo">
      <nav>
        <ul>
          
          <li><a href="/connect4">HOME</a></li>
          <li><a href="/connect4/stats">STATS</a></li>
          <li>
            <form action="/logout" method="POST">
              <button id="logoutButton">LOGOUT</button>
            </form>
          </li>
        </ul>
      </nav>
      <img src="/images/navbarlogo.png" class = "navbarlogo">
    </div>
  </div>